body {
  background-color: #c39236;
  color: #fff;
}

nav {
  background-color: #8b641f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 41.5px 40px 41.5px 0;
  align-items: center;
}

nav ul li {
  display: inline;
  font-size: 30px;
  margin-right: 28px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  /* FIX LEFT RIGHT */
}

nav img {
  width: 220px;
}

nav h1 {
  font-weight: normal;
  flex-wrap: wrap;
  font-size: 60px;
  padding-left: 250px;
  margin: 0;
}

h2 {
  font-weight: normal;
  font-size: 60px;
  /* flex-wrap: wrap; */
  color: #8b641f;
  text-align: center;
}
.image1 img {
  /* flex-wrap: wrap; */
  padding-left: 30px;
  padding-top: 150px;
  width: 1000px;
}

.homepage {
  display: flex;
}

.intro h2 {
  padding-top: 30px;
}

.intro {
  margin-left: 70px;
  text-align: justify;
  width: 900px;
  padding-right: 30px;
}

.intro span {
  font-size: 26px;
  display: inline;
  padding-top: 50px;
  float: left;

  /* outline + space between title and paragraphs*/
}

.hire {
  display: flex;
}

.hire img {
  width: 1000px;
  padding-right: 30px;
  padding-top: 80px;
}

.hiretext {
  padding-right: 80px;
  font-size: 55px;
  text-align: right;
}
.Accountant-img img {
  width: 500px;
}

.Tutor-img img {
  width: 500px;
}
.Workshop-img img {
  width: 500px;
}

.colums {
  display: flex;
}
/* images fix + centereren paragarphs */

.contact {
  margin: 0 auto;
}

.imagestar img {
  width: 700px;
  padding-top: 90px;
}

.quote1 {
  display: flex;
  padding-bottom: 50px;
  align-items: center;
}

.quote1 h2 {
  padding-top: 20px;
}
/* alignment fix */

.contact {
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  grid-template-rows: repeat(2, minmax(100px, auto));
}

.form input {
  margin-top: 20px;
  padding-top: 15px;
  margin-left: 20px;
  width: 900px;
}
.form {
  margin-top: 130px;
  margin-left: 23px;
}
.contacttext h1 {
  padding-left: 30px;
  align-items: center;
  font-size: 40px;
}
.form .name {
  display: flex;
}
.form .name input {
  width: 435px;
}

.imagecontact img {
  width: 700px;
  padding-left: 20px;
}
/*  flex issue */

.hiretext h2 {
  text-align: center;
  padding-left: 100px;
  padding-top: 120px;
}

.Accountant {
  padding-left: 60px;
}

.explanation {
  margin-top: 20px;
  margin-left: 43px;
  font-size: 30px;
  grid-column: 2/3;
  width: 920px;
}
/* move down grid issue */
.Tutor {
  padding-left: 20px;
  padding-right: 20px;
}

.Workshop {
  padding-left: 60px;
}
/* aligning wrap span worskshops */

.button {
  border: 1px solid #8b641f;
  background-color: #8b641f;
  border-radius: 10px;
  width: 60px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
