body {
  background-color: #c39236;
  color: #fff;
  margin: 0;
}

nav {
  background-color: #8b641f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 41.5px 40px 41.5px 0;
  align-items: center;
}

.hamburger {
  display: none;
}
nav ul li {
  display: inline;
  font-size: 30px;
  margin-right: 28px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

nav img {
  width: 220px;
}

nav h1 {
  font-weight: normal;
  flex-wrap: wrap;
  font-size: 60px;
  padding-left: 250px;
  margin: 0;
}

/* homepage */
h1 {
  font-weight: normal;
  font-size: 60px;
  color: #fff;
  text-align: center;
}
.image1 img {
  width: 1000px;
}

.homepage {
  display: flex;
  margin: 30px;
}

.intro h1 {
  margin-top: 10px;
}

.intro {
  margin-left: 70px;
  text-align: justify;
  width: 900px;
  padding-right: 30px;
}

.intro span {
  font-size: 26px;
  display: inline;
  float: left;

  /* outline + space between title and paragraphs*/
}

/* hire */
.hire {
  display: flex;
  margin: 30px;
  margin-bottom: 90px;
}

.hire img {
  width: 1000px;
}
.hiretext h1 {
  text-align: center;
  padding-top: 120px;
}

.hiretext span {
  font-size: 40px;
  align-items: center;
}
/* in the middle prob */

.colums {
  display: flex;
  margin: 30px;
  margin-bottom: 30;
  gap: 30px;
}

.colums img {
  width: 100%;
}
/* images fix  */
h3 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.colums span {
  font-size: 25px;
}
.Accountant {
  flex: 1;
}

.space {
  margin-top: 20px;
  grid-column: 2/3;
  width: 920px;
}

.Tutor {
  flex: 1;
}

.Workshops {
  flex: 1;
}

.imagestar img {
  width: 700px;
}
/* nr onder */
.quote1 {
  display: flex;
  align-items: center;
}

.contact {
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  grid-template-rows: repeat(2, minmax(100px, auto));
  margin: 30px;
  margin-top: 0;
}
h2 {
  font-weight: normal;
  font-size: 60px;
  color: #8b641f;
  text-align: left;
}
.form {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.form input {
  margin-top: 20px;
  padding-top: 15px;
  margin-left: 20px;
  width: 900px;
}

.imagecontact img {
  width: 700px;
}
.form p {
  font-size: 30px;
  padding-left: 20px;
}

.form .name {
  display: flex;
}
.form .name input {
  width: 435px;
}

.button {
  background-color: #8b641f;
  border-radius: 10px;
  width: 60px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.button:hover {
  background-color: #59380d;
}

/* mobile */

@media screen and (max-width: 440px) {
  /* homepage */

  .image1 img {
    width: 600px;
  }

  .intro {
    width: 300px;
    margin: 0;
  }

  .homepage {
    flex-direction: column;
    align-items: center;
  }
  .intro span {
    font-size: 20px;
  }
  /* readability */
  nav img {
    width: 170px;
  }
  nav {
    padding: 0;
  }
  .hamburger {
    display: block;
  }
  nav {
    display: none;
  }
}
